# Ignore everything
*
*/*

# But not these files...
!.gitignore
!BehaviourAnalysis.py
!Details.py
!ExampleAnalysis_Decoder.py
!ExampleAnalysis_FiringRate.py
!ExampleAnalysis_Regression.py
!ImportData.py
!ManagerAnalysis.py
!ManagerDecoder.py
!Maths.py
!Plot.py
!README.md
!RL_tstats.py
!ShiftTrials.py
!TimeFunction.py
!Utils.py
