[project]
name = "miranda-2025"
version = "0.1.0"
requires-python = ">=3.8"

dependencies = [
    "numpy",
    "scipy",
    "pandas",
    "matplotlib",
    "scikit-learn",
    "scikit-image",
    "statsmodels",
    "pyarrow",
]